@import './hero.scss';
@import './about.scss';
@import './book.scss';
@import './member.scss';
@import '../variables//color.scss';
@import '../variables/layout.scss';

.main {
  position: relative;
  width: 100%;
  padding-top: calc(#{$header-height} - 5px);
  border: 5px solid $black-color;
  border-bottom: none;

  .main__content {
    width: 100%;
    margin: 0 auto;
  }
}
