@import './hero.scss';
@import './about.scss';
@import './book.scss';
@import '../mixins/break_point.scss';
@import '../variables/layout.scss';

.main {
  position: relative;
  width: 100%;
  height: 1000px;
  padding-top: $header-height;
  border: 5px solid #000;
  border-bottom: none;
  font-family: 'Gothic MB101 Bold', sans-serif;

  .main__content {
    width: 100%;
    margin: 0 auto;

    @include media-pc {
      max-width: $main-max-width;
    }
  }
}
