@import '../mixins/break_point.scss';
@import '../variables/layout.scss';
@import '../variables/color.scss';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 5px 15px 0;
  z-index: 9999;

  @include media-pc {
    padding: 5px 25px 0;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header-title {
  display: flex;
  align-items: center;
  transform: scale(0.9);
  transform-origin: left center;
  transition: transform 0.2s ease-out;

  @include media-pc {
    transform: scale(1);
  }

  .header-title__logo {
    height: 40px;
  }

  .header-title__event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 0 -3px 8px;
  }
}

.event-details {
  .event-details__name {
    font-size: 1rem;
  }

  .event-details__circle {
    .event-details__circle__no {
      margin-left: -2px;
      font-size: 2.2rem;
      letter-spacing: 0.25rem;
    }

    .event-details__circle__name {
      font-size: 1.2rem;
    }
  }
}

.header-tweet {
  width: 30px;
  align-self: flex-end;

  @include media-pc {
    width: 70px;
    align-self: center;
  }

  .header-tweet__btn {
    height: 30px;
    position: relative;
    overflow: hidden;

    @include media-pc {
      height: 25px;
      padding: 4px 8px;
      border: 2px solid $black-color;

      &:hover .btn__bg {
        transform: translateX(0);
      }
    }

    .btn__bg {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $blue-color;
      transform: translateX(100%);
      transition: transform 0.2s ease-out;

      @include media-pc {
        display: block;
      }
    }

    .btn__icon {
      font-size: 0;
      height: 100%;
      background-image: url('/amn5/image/tweet_btn_m.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;

      @include media-pc {
        background-image: url('/amn5/image/tweet_btn.svg');
        background-size: 12px;
        background-position: left center;
      }

      .icon__text {
        display: none;
        width: 100%;
        height: 100%;
        padding-top: 1px;
        letter-spacing: 0.1rem;
        font-size: 1.1rem;
        color: $black-color;
        text-align: right;

        @include media-pc {
          display: inline-block;
        }
      }
    }
  }
}
