@import '../mixins/break_point.scss';
@import '../variables/layout.scss';

.footer {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
  border: 5px solid #000;
  border-top: none;

  .footer__content {
    width: 100%;
    margin: 0 auto;

    @include media-pc {
      max-width: $main-max-width;
    }
  }
}
